/* Configuracion general de la pagina */
@keyframes slideUp {
    from { transform: translate(0, 100px); opacity: 0; }
    to { transform: translate(0, 0); opacity: 1; }
}
body {
  overflow-x: hidden;
  // height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url("images/fotos/Home/imagenes/BACKGROUND.webp");
  
}
.opciones{
  display:flex;
  flex-direction: row;
  color:white;
  gap: 2rem;
  position: absolute;
  left: 55%;
  top: 20%;
  font-size:19px;
 h3 a{
    color: white;
    text-decoration: none;  
    left: 6%;
    top: 10%;
    font-size:19px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
}
.direeciones{
  position: relative;
  color: whithe;
  padding:0 15px;
  cursor:pointer;
  transition: color 0.3s ease;
  h3 a{
    position: relative;
    top: 1rem;

  }
  &:hover{
    transform: scale(1);
  }
  &:not(:last-child)::after { 
    content: ''; 
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 3px;
    height: 90%; 
    background-color: #4da3cf; 
    margin-right:  -20px ;
}
}
.desktop-nav-header{
  &.active { 
    color: white;
    padding-bottom: 5px; // Espacio para el subrayado activo
    &::after { // Pseudo-elemento para el subrayado del activo
        content: '';
        display: block;
        width: 103%; // Ajusta el largo del subrayado
        height: 3px;
        background-color: #ac4bc7;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
    }
  }
}

.media{
  width: 25%;
  position: absolute;
  top: -3.1rem;
  gap: 3px;
  left: 37rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  img{
      width: 12rem;
      height: auto;
      padding: 0.5rem;
  }
}


.footer2{
  width: 100%;
    position: absolute;
    height: 6rem; 
}

.navigation-container {
  width: 100%;
  height: 10rem;
  background-image: url("../images/fotos/Parques/imagenes/parte_superior.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  position: relative;
  z-index: 10;
  .logo-star-park{
    position: relative;
    top: -1.5rem;
  }
  a {
    position: relative;
    top: 1.5rem;
    left: 3rem;
    width: 30rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.sidebar-menu,
.overlay,.hamburger-menu  {
    display: none;
}

// estilos para el aparatdo de proximamente
 .visible-footer{
  height: 27%;
  position:absolute;
  top: 323%;
  right: 1rem;
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, #00bfb3, #231576 ); 
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  font-family: 'Segoe UI', Roboto, sans-serif;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideUp 0.5s ease-out; 

  .header-footer{
   display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    span{
      font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.5px;
    flex-grow: 1;
    text-align: center;
    }
    button{
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
 }
 .blog-footer{
  display: none;  
 }
 .header-footer{
  display: none;
  align-items: center;
    gap: 15px;
    width: 100%;
 }
 

/* Estilos de la seccion de De Interés (FOOTER) */
.footer {
  font-family: Arial, sans-serif;
  width: 100%;
  background-image: url("../images/fotos/Home/imagenes/BACK_PIE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  //background-color: #f2f2f2;
  padding-top:3rem ;
  align-items: center;
  border-bottom: 18px solid #0a94ce;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  flex-direction: row;
  button{
    background-color: transparent;
    border:none;
    color: white;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
      &:hover {
                color: #00eeffd3; // Color al pasar el ratón
                text-decoration: underline;
            }
  }
  ul { // Estilos para las listas dentro de las columnas
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    li {
        font-size: 20px;
        margin-bottom: 8px; // Espacio entre los ítems de la lista
        position: relative;
        text-decoration: underline;
        color: white;
        a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: #00eeffd3; // Color al pasar el ratón
                text-decoration: underline;
            }
        }
    }
}
h3{
  font-size: 25px;
  color: white;
  background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
  background-size: 54% 4px; /* ancho (largo) grosor (altura) */
  background-repeat: no-repeat;
  background-position: center bottom; 
  padding-bottom: 10px; /* Espacio para el subrayado */
  text-align: center;
  width: 100%;
  font-weight: bold;
}
p{
  text-align: center;
  font-size:18px;
  padding-top: 10px;
  margin: 10px;
}
a{
  color: #ffffff;
  text-decoration: none;
  &:hover{
    color: #00eeffd3;
    text-decoration: underline;
  }
}
}

/* Línea divisoria más gruesa */
.footer-column:not(:last-child) {
  border-right: 3px solid #ac4fc6; /* Aumenta el grosor aquí */
}

.starpark-logo{
  width: 50%;
  height: 50%;
  display: contents;
  img{
    width: 100%;
    height: auto;
  }
}
 /*Redes sociales*/
  .redes-sociales {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
    }
    a {
      width: 5rem;
      height: 5rem;
      margin-top: 0.9rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
  }
/* Estilos whatsapp y dominik icon*/

.dominick-derecha {
  display: fixed;
  position: absolute;
  bottom: -17rem;
  right: 10.125rem;
  z-index: 5;
  top: 75rem;
  left: 80rem;

  i {
    display: none;
    top: 30rem;
    font-size: 4rem;
    padding-bottom: 2rem;
    filter: drop-shadow(0 0 10px rgb(93, 189, 204));
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);

    }
  }
  a img {
    margin-top: 0.625rem;
    width: 11rem;
    height: auto;
    filter: drop-shadow(0 0 10px rgb(93, 189, 204));
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 17rem;
    top: -13rem;
    &:hover {
      transform: scale(1.1);

    }

  }
  .onomatopeya {
  display: none;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 0;
  position: absolute;
  top: -39px;
  left: -136px;
  color:black;
  font-size: large;
  font-weight: bold;
  animation:typing 10s steps(24) infinite alternate , blink .5s infinite step-end ;
  overflow: hidden;
  }
  .imagen {
  display: none;
  position:absolute;
  top: -79px;
  left: -170px;
    img{
      width: 300px;
    height: 100px;
    color: black;
    }
  }

  @keyframes typing {
    0% , 10%{ width:0;}
    40%, 50%{ width:24ch;}
    90%,100%{ width:0;}
  }
  @keyframes blink {
    50% { border-color: transparent;}
  }
  &:hover {
      .imagen, 
      .onomatopeya {
        display: block;
      }
    }
}
/* Media query sólo para ajustes mínimos en pantallas muy pequeñas */
@media(min-width:320px) and (max-width:428px) {
  :root {
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  }
  .hamburger-menu {
    margin: 1rem 1rem 0 0;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    i {
      color: #ffffff;
      font-size: 3rem;
    }
  }
 
  
  /* Menu lateral */
  .sidebar-menu {
    position: fixed;
    display: block;
    width: 15.625rem;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color:#231884 ;
    z-index: 15;
    transition: 0.3s ease;
    padding-top: 3.75rem;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 15px 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    svg{
      width: 30px;
      height: auto;
      position: relative;
      top: 10px;
      left: -10px;
    }
  
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
  
      &:hover {
        color: #00ffff;
  
      }
    }
  }
  .svg.active{
    color: white;
  }
  .home{
    i{
      color: white;
      font-size: 2rem;
    }
  }
  .sidebar-menu.active {
    right: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
  
    i {
      color: #ffffff;
      font-size: 2rem;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  
  .footer-column{
    justify-content: space-between;
    text-align: center;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      margin-bottom: 10px;
      font-size: 20px;
    }
    h3{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
      text-align: center;
    }
    p{
      text-align: center;
      font-size:18px;
      padding-top: 10px;
    }
    a{
      color: #ffffff;
      text-decoration: none; 
        transition: color 0.3s ease; 
        &:hover {
            color: #4da3cf; // Color azul al pasar el mouse
            text-decoration: underline; // Añade un subrayado al pasar el mouse si lo deseas
        }
    }
  }

  .footer-content{
    display: flex;
    flex-direction:column ;
    gap: 0rem;
  }
  .starpark-logo{
    width: 50%;
    height: 50%;
    display: contents;
    img{
      width: 100%;
      height: auto;
    }

  }
  .footer-column{
    h3{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; 
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; 
      text-align: center;
    }
    p{
      text-align: center;
      font-size:18px;
      padding-top: 10px;
    }
    a{
      color: #ffffff;
    }
    &:not(:last-child){
      border-right: none;
    }
  }
  .navigation-container {
    a {
      left: 0;
      img {
        position:absolute;
        left: 1rem;
        width: 70%;
        height: 100%;
      }
    }
  }

  .opciones{
    display: none;
  }


  .dominick-derecha {
   
    position: relative; 
    top: -70rem;      
    right: -38rem;   
    width: 6rem;    
    height: auto;   
    z-index: 100;   


    a.dominik-icon {
      position: static; 
      display: block; 
      width: 100%; 
      height: 100%; 
    }

    a.dominik-icon img {
 
      position: relative; 
      left: 2rem;     
      top: 0rem;      
      width: 100%;     
      height: auto;    
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
    .onomatopeya{
      font-size: small;
      left: -88px;
    }
    .imagen{
      left: -110px;
      img{
        width: 200px;
        
      }
    }
  } 
  .intersection{
      .imagen ,.onomatopeya{
        display: block;
        transition: opacity 0.8s ease, visibility 0.8s;
      }
    }
  .dominick-dropbtn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: fixed;
    img {
      width: 40%;
      left: 5rem;
      top: 1rem;
      position: relative; 
    }
  }
 
  .redes-sociales {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
    }

    a {
      width: 5rem;
      height: 5rem;
      margin-top: 0.9rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .iconos{
    flex-direction: row;
    display:flex;
    gap:2rem;
    position: relative;
    top:-2rem;
    justify-content: center;
  }
  
  }
  
@media(width:1536px){
  .dominick-derecha{
            bottom: -53rem;
        top: 63rem;
        left: 77rem;
  }
  .opciones{
    left: 50%;
  }
  .media{
    left: 33rem;
  }
}
@media (width: 950px) {
  :root {
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  }

  .navigation-container {
    a {
      left: 0;
      img {
        width: 70%;
        height: 100%;
      }
    }
  }

  .dominick-derecha {
    position: fixed; 
    top: 1rem;     
    right: 1rem;    
    width: 10rem; 
    height: auto;  
    z-index: 100;   

  
    a.dominik-icon { 
      position: fixed;
      display: block; 
      width: 100%;
      height: 100%;
    }

    a.dominik-icon img {
      // **CLAVE:** Resetear los estilos de posicionamiento anteriores
      position: static; 
      left: auto;     
      top: auto;     

      width: 100%;     
      height: auto;  
      filter: drop-shadow(0 0 10px rgb(93, 189, 204));
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .footer {
    gap: 0.5rem;
  }
  .footer li {
    margin: 0.1rem 0;
  }
  .footer .redes-sociales a {
    width: 5.5rem;
    height: 0rem;
    margin-top: 0.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .footer {
  gap: 10rem;
}
.footer li {
  margin: 0.5rem 0;
}
.footer .redes-sociales a {
  width: 5rem;
  height: 5rem;
}
}
  


/* Media query para pantallas grandes */
@media(width:1366px){
  .dominick-derecha{
    display: flex;
    bottom: -38rem;
    right: -7.875rem;
    width: 50%;
  }
  .opciones{
    left: 45%;
  }
  .media{
    left: 33rem;
  }
}
@media (min-width: 1280px) and (max-width:1300px){
   :root {
     font-size: calc(0.4vw + 0.4vh + 0.4vmin);
   }
   .dominick-derecha{
    bottom: -19rem;
    right: 9.125rem;
    img{
        position: relative;
    }
   }
  .opciones{
   gap: 1.3rem;
   left: 44%;
   top: 16%;
  }
  .media{
   top: -1.8rem;
   gap: 3px;
   left: 46rem;
  } 
 
 
}
    
@media(width:800px){
.dominick-derecha{
  bottom: 40rem !important;
}
}
@media (min-width: 768px) and (max-width:884px) {
  .navigation-container .direeciones {
    display: none;
  }
  .dominick-derecha{
    bottom: 26rem;
    right: 14rem;
    a{
      img{
        width: 6rem;
        height: auto;
        position: relative;
        left: 8rem;
        top: 1rem;
      }
    }
  }
  
  .cc-parques .location-section {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.hamburger-menu {
  margin: 1rem 1rem 0 0;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
  i {
    color: #ffffff;
    font-size: 3rem;
  }
}

/* Menu lateral */
.sidebar-menu {
  position: fixed;
  display: block;
  width: 15.625rem;
  height: 100%;
  top: 0;
  right: -100%;
  background-color:#231884 ;
  //background: linear-gradient(90deg, rgba(22, 82, 149, 1) 0%, rgba(22, 82, 149, 1) 26%, rgba(10, 148, 206, 1) 100%);
  z-index: 15;
  transition: 0.3s ease;
  padding-top: 3.75rem;

  svg{
    width: 30px;
    height: auto;
    position: relative;
    top: 10px;
    left: -10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;

    &:hover {
      color: #00ffff;

    }
  }
}

.sidebar-menu.active {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;

  i {
    color: #ffffff;
    font-size: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay.active {
  display: block;
}

}
@media(min-width:800px) and (max-width:834px) {
.sidebar-menu{
  width: 32.625rem;
  a{
    font-size: 2.5rem;
  }
  svg{
    width: 55px;
  }
}
}

@media(width:428px) {
  .dominick-derecha{
    top: -73rem;
    right: -33rem;
  }  
}

@media(width:820px) {
  .dominick-derecha{
    a{
      img{
        position: relative;
        left:8rem;
        top: 5rem;
      }
    }

  }
}
@media(width:834px) {
  .dominick-derecha{
    a{
      img{
        position: relative;
        left:8rem;
        top: 5rem;
      }
    }

  }
}
@media(width:800px) {
  .dominick-derecha{
    a{
      img{
        position: relative;
        left:6rem;
        top: -2rem;
      }
    }

  }
}