.contact-space-background {
    background-image: url("../images/fotos/contactos/imagenes/fondo.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: white;
}

// Caja main
.contact-panel {
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 203vh;

    /* Sección título */
    .informacion-contacto {
        width: 100%;
        position: relative;
        top: -4rem;
        // background-color: rgba(253, 253, 253, 0.537);

        .info-container {
            background-color: transparent;

            /* Monitor con información */
            .monitor-container {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    position: relative;
                    top: -10.7rem;
                }
                .escribenos{
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    top:20rem;
                    left:58rem;
                    h3{
                        left: 15rem;
                        top: -3rem;
                        position: relative;
                    }
                    img{
                        width: 60%;
                        height: auto;
                        position: absolute;
                        top: -0.5rem;
                        left: -1rem;
                    }
                     .redes-sociales-contacto{
                     position: relative;
                     width: 19vw;
                     height: 19vh;
                     h3{
                         position: relative;                                                                         
                         top: 15rem;
                         left: 21rem;
                     }
                     img{
                         width: 200%;
                         height: auto;
                         top: 7.9rem;
                     } 
                     .media-contacto{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        flex-direction: row;
                        position: relative;
                        gap: 1rem;
                        top: 7.5rem;
                        left:16rem;
                        h3{
                            position: relative;
                            top:1rem;
                            left: 1rem;
                        }
                        img{
                            width: 6vw;
                            position: relative;
                            &:hover{
                               transform:scaleX(1);
                            }
                        }
                    }   
                }
            }

                .screen-overlay {
                    // background-color: rgba(245, 245, 220, 0.267);
                    position: absolute;
                    top: 21%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    
                }
            }
        }
    }


    /* Banner trabaja con nosotros */
    .trabaja-con-nosotros {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        .contact-trabaja-banner {
            width: 100%;
            position: relative;
            left: 41px;
            top: -4rem;
            // height: 100%;
        }
    }

    .formulario-contacto {
        width: 100%;

        /* Sección del formulario */
        .main-contact-form {
            position: relative;
            width: 100%;
            

            .contact-form-bgImage {
                width: 100%;
                bottom: 0;
            }

            .contact-form-container {

                .contact-form {
                    
                    position: absolute;
                    top: 3rem;
                    left: 35%;
                    // transform: translateX(-50%);
                    width: 35%;

                    .contact-form-input {
                        margin-bottom: 1rem;

                        .contact-input-icon {
                            position: relative;
                            display: flex;
                            align-items: center;

                            i {
                                position: absolute;
                                left: 0.625rem;
                                margin: 1rem;
                                font-size: 1.5rem;
                                /* Aumentado de tamaño */
                                width: 2rem;
                                /* Ancho fijo para el icono */
                                text-align: center;
                                /* Centrar icono en su espacio */
                                color: rgb(255, 255, 255);
                                /* Mejor visibilidad */
                                z-index: 2;
                            }

                            input,
                            textarea {
                                width: 100%;
                                font-size: large;
                                padding: 2rem 0.9375rem 2rem 5rem;
                                background: linear-gradient(90deg,rgba(20, 48, 105, 0.84) 1%, rgba(16, 82, 132, 1) 37%, rgba(16, 81, 135, 1) 100%);
                                border: 0.3rem solid #19b0b7;
                                border-radius: 1rem;
                                color: white;
                                height: 0vh;
                            }

                            textarea {
                                height: 6.25rem;
                                resize: none;

                            }

                            label {
                                position: absolute;
                                font-size: medium;
                                left: 5rem;
                                color: rgba(255, 255, 255, 0.596);
                                transition: all 0.3s ease;
                                pointer-events: none;
                            }
                        }

                        input:focus+label,
                        input:valid+label,
                        textarea:focus+label,
                        textarea:valid+label {
                            top: -0.625rem;
                            left: 3rem;
                            font-weight: bold;
                            text-align: center;
                            font-size: 1em;
                            color: #00f7ff;
                            background: rgba(0, 20, 40, 0.8);
                            padding: 0.2rem 0.3125rem;
                            border-radius: 2rem;
                        }

                    }

                    .contact-form-terms {
                        margin: 1rem 0;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;

                        input[type="checkbox"] {
                            /* Tamaño aumentado */
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: 0.75rem;
                            cursor: pointer;
                            /* Estilo personalizado */
                            appearance: none;
                            -webkit-appearance: none;
                            background-color: transparent;
                            border: 0.0625rem solid rgba(0, 247, 255, 0.5);
                            border-radius: 0.25rem;
                            position: relative;
                            outline: none;
                            top: 0.6rem;

                            /* Efecto al marcar el checkbox */
                            &:checked {
                                background-color: rgba(0, 247, 255, 0.3);
                                border-color: #00f7ff;

                                /* Icono de check personalizado */
                                &::before {
                                    content: '✓';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 1rem;
                                    color: #00f7ff;
                                    font-weight: bold;
                                }
                            }
                        }
                        label{
                            color: #19809f;
                            text-align: center;
                            position: relative;
                            left: 10rem;
                            font-size: larger;
                            font-weight: normal;
                        }
                        a {
                            color: white;
                            text-decoration: none;
                            position: relative;
                            left: -10rem;
                        }
                    }

                    .contact-register-btn {
                        width: 40%;
                        padding: 0.75rem;
                        background: transparent;
                        border: none;
                        color: white;
                        font-weight: bold;
                        border-radius: 1rem;
                        cursor: pointer;
                        text-transform: uppercase;
                        letter-spacing: 0.0625rem;
                        transition: all 0.3s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        /* Centrar el botón horizontalmente */
                        margin-left: auto;
                        margin-right: auto;

                        &:hover {
                            transform: scale(1.1);
                        }
                        img{
                            width:100% ;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.nombres{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    .contact-form-input{
        flex: 1;
    }
}
.email{
    width: 100%;
    height: 90%;
}
.info-complementaria{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    .contact-form-input{
        flex: 1;
    }
}
.comments{
    input{
        border-radius: 1rem;
    }
    width: 100%;
    height: 10%;
}
.equipo-star-park{
    text-align: center;
    h3{
        top: -1rem;
        left: 50rem;
    }
}
.footer-contact{
    position: absolute;
    top: 130rem;
    z-index: 5;
    width: 100%;
    height: 7vh;
}

/* Media queries simplificadas */
@media (min-width: 768px) and (max-width:800px){
    .equipo-star-park{
        position: relative;
        left: 40px;
    }
    .contact-panel {
        height: 1721px;
        .formulario-contacto{
            .main-contact-form{
                .contact-form-container{
                    width: 100px;

                    .contact-form{
                        .contact-form-terms{
                            position: relative;
                            top: 36px;
                        }
                    }
                }
            }
        }
        /* Sección título */
        .informacion-contacto {
            .info-container {
                .monitor-container {
                    width: 100vw;
                    margin: 0 auto;
                    height: 60rem;
                    img{
                        width: 100%;
                        height: 50%;
                        top: 0rem;
                    }
                    .escribenos{
                        width: 50%;
                        height: 50%;
                        top: 13rem;
                        left: 10rem;
                        h3{
                            left: 14rem;
                            top: -1.8rem;
                        }
                        img{
                            width: 100%;
                            height: auto;
                            left: 12.5rem;
                            top:1rem;
                        }
                        .redes-sociales-contacto{
                            width: 40vw;
                            h3{
                                top: 5rem;
                                left: 17.5rem;
                            }
                            img{
                                width: 47vw;
                                height: auto;
                                top: 2.2rem;
                            }
                            .media-contacto{
                                width: 58%;
                                left: 7.1rem;
                                top: 5.7rem;
                                img{
                                    width: 9vw;
                                    height: auto;
                                    left: 12rem;
                                    top: -1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* Banner trabaja con nosotros */
        .trabaja-con-nosotros {
            .contact-trabaja-banner {
                width: 100%;
                height: auto;
                left: 0rem;
                top: -28rem;
                // height: 100%;
            }
        }

        .formulario-contacto {
            width: 100%;
            position: relative;
            top: -29rem;
            height: 90%;
            
            .main-contact-form {
                overflow: hidden;
                height: 736px;
                width: 100%;
                .contact-form-bgImage {
                    width: 150%;
                    height: 60rem;
                    transform: translateX(-18%); /* Desplazamos a la izquierda 1/4 del ancho */
                }

                .contact-form-container {

                    .contact-form {
                        top: 6rem;
                        left: 4rem;
                        // transform: translateX(-50%);
                        width: 100%;
                        height:70vh;
                        .contact-form-input {
                            .contact-input-icon {
                                input,
                                textarea {
                                    width: 100%;
                                    font-size: large;
                                    padding: 0.5rem 0.9375rem 2rem 5rem;
                                    background: #383c94;
                                    border: 0.0625rem solid rgba(0, 247, 255, 0.842);
                                    border-radius: 1rem;
                                    color: white;
                                    height: 30px;
                                }
                            }
                        }
                        .contact-register-btn {
                            width: 50%;
                            position: relative;
                            top: 4rem;
                            left: -3rem;
                        }
                    }
                }
            }
        }
    }
    .nombres{
    width: 85%;
    .contact-form-input{
        flex: 1;
    }
    }
    .info-complementaria{
        width: 85%;
        position: relative;
        top: 30px;
        .contact-form-input{
            flex: 1;
        }
    }
    .email{
        width: 85%;
        height: 3.5rem;
    }
    .comments{
        width: 85%;
        position: relative;
        top: 30px;
    }
    .footer-contact{
        top: 1861px;
    }
}
@media(width:800px){
    .equipo-star-park{
        h3{
            position: relative;
            top: -1rem;
            left: -4rem;
        }
    }
    .contact-panel{
        height: 1250px;
        .formulario-contacto{
            .main-contact-form{
                height: 80vh;
                .contact-form-container{
                    .contact-form{
                        left: 5rem;
                        .contact-register-btn{
                            top: 1rem;
                        }
                    }
                }
            }
        }
        .informacion-contacto{
            top:-6rem;
            .info-container{
                .monitor-container{
                    .escribenos{
                        .redes-sociales-contacto{
                            h3{
                                left: 20.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .nombres{
        width: 82%;
    }
    .info-complementaria{
        width: 82%;
    }
    .email{
        width: 82%;
    }
    .comments{
        width: 82%;
    }
    .footer-contact{
        top: 86rem;
    }
}
@media(width:820px){
    .contact-panel{
        .informacion-contacto{
            .info-container{
                .monitor-container{
                    .escribenos{
                        .redes-sociales-contacto{
                            .media-contacto{
                                width: 58%;
                                left: 7.1rem;
                                top: 5.7rem;
                                img{
                                    width: 8vw;
                                    top: -1rem !important;
                                    left:11rem !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media (min-width:820px) and (max-width:834px){
    
    .contact-panel{
        height: 1223px;
        .informacion-contacto{
            width: 925px;
            .info-container{
                .monitor-container{
                    img{
                        top: -3rem;
                        height:auto;
                    }
                    .escribenos{
                        top: 11rem;
                        left: 15.8rem;
                        .redes-sociales-contacto{
                            top:0.5rem;
                            img{
                                width: 45vw;
                                top: 2.5rem;
                            }
                            h3{
                                left: 16.5rem; 
                                top: 5rem;
                                width: 100vh;
                            }
                            .media-contacto{
                                img{
                                    width: 8vw;
                                    top: -6.5rem;
                                    left:12rem;
                                }
                            }
                        }
                        h3{
                            top: -1rem;
                            left: 12.5rem ;
                        }
                        img{
                            width: 60% ;
                            left: 11rem;
                            top: 1.5rem;
                        }
                    }
                }
            }
        }
        .formulario-contacto{
            .main-contact-form{
                .contact-form-container{
                    .contact-form{
                        width: 100%;
                        left: 5rem;
                        .contact-register-btn{
                            position: relative;
                            left: -4rem;
                        }
                    }
                }
            }
        }
    }
    .equipo-star-park{
        position: relative;
        left: -4rem;
        h3{
            position: relative;
            font-size: 3.5px;
        }

    }
    .trabaja-con-nosotros{
        .contact-trabaja-banner{
            top: 0rem !important;
        }
    }
    .nombres{
        width: 81.5%;
    }
    .info-complementaria{
        width: 81.5%;
    }

    .email{
        width: 81.5%;
    }
    .comments{
        width: 81.5%;
    }
    .footer-contact{
        top: 86rem;
    }
}
@media (min-width:834px) and (max-width:840px){
    .contact-panel{
        width: 100%;
        .informacion-contacto{
            .info-container{
                .monitor-container{
                    .escribenos{
                        .redes-sociales-contacto{
                            .media-contacto{
                                img{
                                    top: -2.9rem;
                                    left: 2.7rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .media-contacto{
        width:100%;
        gap: 0;
        left: 6.45rem;
        top:11.3rem;
        a{
            top: -4.9rem;
            left: 0rem;
        }
    }
    .email{
        width: 82%;
    }
    .comments{
        width:82%;
    }
    .equipo-star-park{
        h3{
        position: relative;
        left: 0rem;
        }
    }
    .contact-panel{
        .formulario-contacto{
            .main-contact-form{
                .contact-form-container{
                    .contact-form{
                        .contact-form-terms{
                            position: relative;
                            left: 0.6rem;
                            a{
                                left: 1rem;
                            }
                            label{
                                left: 21rem;
                            }
                            input[type= checkbox]{
                                left: 21rem;
                            }
                        }
                        .contact-register-btn{
                            img{
                                position: relative;
                                left: 0rem;
                                width: 70%;
                                top: -2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-contact{
        top: 85rem;
    }
}
@media(width:1536px){
    
   .contact-panel{
    .formulario-contacto{
        .main-contact-form{
            .contact-form-container{
                .contact-form{
                    top: -2rem;
                    .contact-form-terms{
                        label{
                            left: 5rem;
                        }
                        a{
                            left: -5rem;
                        }
                    }
                }
            }
        }
    }
    .trabaja-con-nosotros{
        .contact-trabaja-banner{
            top: -6rem;
        }
    }
    .informacion-contacto{
        .info-container{
            .monitor-container{
                img{
                    top:-8.7rem;
                }
                .escribenos{
                    img{
                        width: 50%;
                        top: -3.5rem;
                        left: -13rem;
                    }
                    h3{
                        left: -5rem;
                        top: -6rem;
                    }
                    .redes-sociales-contacto{
                        width: 50%;
                        position: relative;
                        h3{
                            top: 5rem;
                            left: 1rem;
                        }
                        img{
                            top: 0.5rem;
                            width: 90%;
                        }
                        .media-contacto{
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            width: 80%;
                            top: 4.6rem;
                            left: 10rem;
                            gap:2rem;
                            img{
                                width: 110%;
                                position: relative;
                                left: -10.5rem;
                                top: 1rem;
                                &:hover{
                                    top:0.5rem;
                                }
                            }
                        }
                    }                  
                }
            }
        }
    }
   } 
  
   .footer-contact{
    top: 104rem;
   }
}

@media (min-width:360px) and (max-width:428px){
    .info-complementaria{
        top: 30px;
        position: relative;
        padding-bottom: 22px;
    }
 .contact-space-background{
    height: 850px;
 }       
 .info-container{
    top:0;
    height: auto;
 }
 .contact-panel {
        height: 694px;
        .formulario-contacto{
            position: absolute;
            top:352px;
            height: 55vh;
            .main-contact-form{
                height: 50vh;
                .contact-form-container{
                    .contact-form{
                        .contact-form-terms{
                            position: relative;
                            top: 30px;
                            a{
                                left: 0rem;
                            }
                            input[type=checkbox]{
                                left: 10rem;
                            }
                        }
                    }
                }
            }
        }
    
        /* Sección título */
        .informacion-contacto {
            position: absolute;
            top: 10rem;
            left: -1rem;
            .info-container {
                .monitor-container {
                    width: 353px;
                    margin: 0 auto;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                        top: -2.5rem;
                    }
                    .escribenos{
                        h3{
                            top: -24.5px;
                            left: 1rem;
                            width: 192px;
                            font-size: 10px;
                        }
                        width: 178px;
                        height: auto;
                        top: 9.5rem;
                        left: 46%;
                        img{
                            width: 100%;
                            height: auto;
                            left: 0rem !important;
                            top: 0.1rem;
                        }
                        .redes-sociales-contacto{
                            width: 80%;
                            top: -2rem;
                            h3{
                                top: 3rem;
                                left: 5rem;
                            }
                            img{
                                width: 100%;
                                //height: 57%;
                                top: 1.5rem;
                            }
                            .media-contacto{
                                width: 100%;
                                height: 40%;
                                display: flex;
                                flex-direction: row;
                                position: relative;
                                gap: 1rem;
                                h3{
                                    position: relative;
                                    top:1rem;
                                    left: 1rem;
                                }
                                img{
                                    width: 8vw;
                                    position: relative;
                                    left: 5.3rem !important;
                                    top: 2.8rem;
                                    &:hover{
                                        top:0.5rem;
                                    }
                                }
                            } 
                        }
                    }
                }
            }
        }
        /* Banner trabaja con nosotros */
        .trabaja-con-nosotros {
            height: 100%;
            position: absolute;
            top: 415px;
            .contact-trabaja-banner {
                position: absolute;
                width: 353px;
                height: auto;
                left: 0rem;
                top: -120px;
            }
        }

        .formulario-contacto {
            .main-contact-form {
                .contact-form-bgImage {
                    width: 150%;
                    height: 60rem;
                    transform: translateX(-18%); /* Desplazamos a la izquierda 1/4 del ancho */
                }

                .contact-form-container {

                    .contact-form {
                        left: 0rem;
                        width: 100%;
                        height: 50vh;
                        z-index: 2;
                        .contact-form-input {
                            .contact-input-icon {
                                input,
                                textarea {
                                    width: 100%;
                                    height: 30px;
                                    font-size: large;
                                    padding: 0.5rem 0.9375rem 2rem 5rem;
                                    background: #383c94;
                                    border: 0.0625rem solid rgba(0, 247, 255, 0.842);
                                    border-radius: 1rem;
                                    color: white;
                                    &::placeholder{
                                        color: white;
                                        background: #383c94;
                                        font-size: 14px;
                                    }
                                   
                                }
                            }
                        }
                        .contact-register-btn {
                            width: 50%;
                            top: 15px;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
    .email{
        height: 31px;
        width: 100%;

    }
    .comentarios{
        height: 100%;
        margin-top: 10px;
    }
    .comments{
        width: 100%;
    }
    .number{ 
        &::placeholder{
          text-align: center;
          top: 0.5rem;
          position: relative;   
          color:#7e878d;
        }
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .footer-contact{
        top: 830px;
        height:5vh ;
    }
}
@media(min-width:428px) and (max-width:429px) {
    .contact-panel{
        .trabaja-con-nosotros{
            .contact-trabaja-banner{
                top: -12%;
                left: 4rem;
            }
        }
        .informacion-contacto{
            .info-container{
                .monitor-container{
                    .escribenos{
                        top: 7.9rem;
                        left: 47%;
                        .redes-sociales-contacto{
                            top: 0rem;
                            h3{
                                top: 2rem;
                                left: 3.5rem;
                            }
                            img{
                                max-width: 112%;
                                top: 1rem;
                            }
                            .media-contacto{
                                left: -2rem;
                                top: -1rem;
                                img{
                                    left: 6.3rem;
                                    top: 2.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(width:360px) {
    .footer-contact{
        top:827px; 
    }
    .media-contacto{
        left: 4.2rem !important;
        top: 3.7rem !important;
    }
    .contact-panel{
        .informacion-contacto{
            .info-container{
                .monitor-container{
                    .escribenos{
                        .redes-sociales-contacto{
                            img{
                                width: 89%;
                                top: 2.95rem;      
                            }
                            h3{
                                top: 4rem;
                                left:3rem;

                            }
                            
                                .media-contacto{
                                    img{
                                        top: -0.5rem !important;
                                        left: -0.7rem !important;
                                    }
                                }
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:1280px) and (max-width:1300px){
    .footer-contact{
        top: 149rem;
        height: 7vh;
    }
 .contact-panel{
    .formulario-contacto{
        .main-contact-form{
            .contact-form-container{
                .contact-form{
                    .contact-register-btn{
                        width: 100%;
                    }
                }
            }
        }
    }
    .informacion-contacto{
        .info-container{
            .monitor-container{
                .escribenos{
                    h3{
                        font-size:large;
                        left: 11rem;
                        top: -5rem;
                    }
                    .redes-sociales-contacto{
                        position: relative;
                        width: 167px;
                        height: auto;
                        h3{
                            top:100px ;
                            left: 98px;
                            width: 150%;
                        }
                        img {
                            max-width: 353px;
                            height: auto;
                            display: block;
                            margin: 0 auto;
                            top: 75px;
                        }
                            .media-contacto {
                                 display: flex;
                                 justify-content: center;
                                 align-items: center;
                                 left: 122px ;
                                 top: 28px ;
                                }
                        
                                .media-contacto a {
                                    img {
                                    width: 65px;
                                    height: auto;
                                    object-fit: contain;
                                    transition: transform 0.2s ease;
                                    }
                                }
                                .media-contacto a img:hover {
                                    transform: scale(1.1);
                                     }

                    }
                }
            }
        }
    }
 }

}
