.promociones-space-background {
  background-image: url("../images/fotos/servicios/imagenes/suelo.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  width: 100%;
  height: 188vh;
  
}

.promociones-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 171vh;
  margin: 22px auto;
  background-image: url("../images/fotos/promociones/imagenes/centro_de_control.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-position: center;
  top: -3rem;

  .title-promociones {
    img {
    position: relative;
    width: 29%;
    height: 100%;
    top: 1rem;
    left: 33rem;
    }
  }
  .boton-centro {
    img {
    position: relative;
    width: 20%;
    height: 100%;
    top: -42rem;
    left: 37rem;
    }
  }
  .boton-der {
    img {
    position: relative;
    width: 10%;
    height: 100%;
    top: -45rem;
    left: 80rem;
    }
  }

  .boton-izq {
    top: -5.5rem;
    position: relative;
    img {
    position: relative;
    width: 10%;
    height: 100%;
    top: -45rem;
    left: 5rem;
    }
  }


}
.mensaje{
    position: absolute;
    left: 41rem;
    top: 45rem;
    z-index: 1;
    font-size: 30px;
}
.promo-center{
  width: 100%;
  height: auto;
  img{
    width: 70%;
    height: 55%;
    position: relative;
    top: -4rem;
    left: 13rem;
  }
}
.fooder-promo{
  position: absolute;
  top: 73rem;
  transform: rotate(1deg);
  img{
    width: 100%;
    height: 60%;    
  }
}
@media(min-width:320px) and (max-width:428px)
{
  .promociones-content{
    top: -4rem;
    height: 73vh;
    .title-promociones{
      img{
        width: 36%;
        top: 2rem;
        left: 13.5rem;
      }
    }
    .boton-izq{
      img{
        width: 27%;
        top: -30.5rem;
        left: 1rem;
      }
    }
    .boton-centro{
      img{
        width: 50%;
        top:-33rem;
        left: 10.6rem;
      }
    }
    .boton-der{
      img{
        top:-24rem;
        left:31rem;
        width: 27%;
      }
    }

  }
  .fooder-promo{
    width: 100%;
    height: 10%;
  img{
    width: 100%;
    height: 100%;
    position: relative;
    top:-26rem;
    transform:rotate(2deg) ;
  }
  
}
.promo-center{
  width: 100%;
  height: auto;
  img{
    width: 70%;
    height: 55%;
    position: relative;
    top: -2rem;
    left: 5rem;
  }

}
.mensaje{
  
    position: absolute;
    left: 12rem;
    top: 29.5rem;
    font-size: 27px;
    z-index: 1;
  
}
  .promociones-space-background{
    height: 85vh;
  }


}