.servicio-space-background {
    background-image: url("../images/fotos/preguntas_frecuentes/imagenes/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Ajustar el contenedor principal hacia arriba */
.main-container-servicio {
    display: flex;
    align-items: center;
    height: calc(100vh + 30vh);
    margin-top: -6.8rem;
    position: relative;
    z-index: 5;

    /* Lado izquierdo con la imagen de información */
    .servicio-left {
        width: 45%;
        height: 100%;
        display: flex;
        align-items: end;
        padding: 0 2rem;
        position: relative;
        top: -10rem;

        img {
            width: 100%;
            height: 90vh;
            object-fit: contain;
        }
    }
}

/* Lado derecho con el formulario */
.servicio-right {
    width: 50%;
    height: calc(100vh + 30vh);    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    img{
        width: 100%;
        position: relative;
        top: 10rem;
    }

    .service-form-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 0 0;
        position: relative;

      
        /* Estilos para los campos del formulario */
        .serviceForm {
            width: 70%;
            position: absolute;
            top: 30%;

            // todos los label
            .service-form-group {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.4rem;

                i {
                    position: absolute;
                    left: 0.5rem;
                    margin: .6rem;
                    font-size: 1.5rem;
                    /* Aumentado de tamaño */
                    width: 2rem;
                    /* Ancho fijo para el icono */
                    text-align: center;
                    /* Centrar icono en su espacio */
                    color: rgb(255, 255, 255);
                    /* Mejor visibilidad */
                    z-index: 2;
                }

                select{ 
                    width: 100%;
                    font-size: large;
                    padding: 1.3rem 0.9375rem 1.3rem 4rem;
                    background: linear-gradient(90deg,rgba(20, 48, 105, 0.84) 1%, rgba(16, 82, 132, 1) 37%, rgba(16, 81, 135, 1) 100%);
                    border: 0.3rem solid #19b0b7;
                    border-radius: 1rem;
                    box-shadow: 1px 1px black;
                    background-color: rgba(16, 81, 135, 1);
                    
                }
                input,
                textarea {
                    width: 100%;
                    font-size: large;
                    padding: 1.3rem 0.9375rem 1.3rem 4rem;
                    background: linear-gradient(90deg,rgba(20, 48, 105, 0.84) 1%, rgba(16, 82, 132, 1) 37%, rgba(16, 81, 135, 1) 100%);
                    border: 0.3rem solid #19b0b7;
                    border-radius: 1rem;
                    color: white;
                    box-shadow: 1px 1px black;
                    
                }
                
                textarea {
                    height: 5rem;
                    resize: none;
                }

                label {
                    position: absolute;
                    font-size: medium;
                    left: 5rem;
                    color: rgba(255, 255, 255, 0.596);
                    transition: all 0.3s ease;
                    pointer-events: none;

                }

                input:focus+label,
                input:valid+label,
                textarea:focus+label,
                textarea:valid+label,
                select:focus+label,
                select:valid+label {
                    top: -0.625rem;
                    left: 3rem;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1em;
                    color: #00f7ff;
                    background: rgba(0, 20, 40, 0.8);
                    padding: 0.2rem 0.3125rem;
                    border-radius: 2rem;
                }
            }


            /* Botón de envío */
            .service-form-submit {
                text-align: center;
                margin-top: 2rem;
                background-color: transparent;

                button {
                    background-color: transparent;
                    border: none;
                    padding: .9rem 3rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    border-radius: 2rem;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 0.0625rem;
                    transition: transform 0.3s ease;
                    img{
                        width: 100%;
                        position: relative;
                        top:-1rem ;

                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
.contact-form-terms{
    text-align: justify;
    // position:relative;
    // top: 3rem;
}
.terminos {
    /* Tamaño aumentado */
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
    cursor: pointer;
    /* Estilo personalizado */
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.0625rem solid rgba(0, 247, 255, 0.5);
    border-radius: 0.25rem;
    position: relative;
    outline: none;
    top: 0.6rem;
    

    /* Efecto al marcar el checkbox */
    &:checked {
        background-color: rgba(0, 247, 255, 0.3);
        border-color: #00f7ff;

        /* Icono de check personalizado */
        &::before {
            content: '✓';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            color: #00f7ff;
            font-weight: bold;
        }
    }
}
.condiciones{
    color: #19809f;
    text-align: center;
    position: relative;
    left: 3.2rem;
    font-size: larger;
    font-weight: normal;
}
.Terminos_adicionales {
    width: 100%;
    display: flex; 
    justify-content: center; /* Centra los elementos */
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea */
    gap: 2rem; /* Espacio entre los elementos */
    position: relative;
    top: 1rem;
    color: white;
    text-align: center;
    text-decoration: underline;
    line-height: 1.5rem;
    &:last-child{
        left: -1.3rem;
    }
    span {
        position: relative; /* Clave para el posicionamiento del pseudo-elemento */
    }

    span:not(:last-child)::after {
        content: "/";
        position: absolute;
        right: -1.1rem; /* Ajusta este valor para el espaciado */
        top: 50%;
        transform: translateY(-50%);
        color: #457bbd;
        text-shadow:1px 0 #457bbd,-1px 0 #457bbd,0 1px #457bbd,0 -1px #457bbd;
    }
   
}
.foot-service{
    width: 100%;
    height: 0vh;
    position: relative;
    top: -2rem;
    background-image: url("../images/fotos/Home/imagenes/BACK_PIE.png");
    img{
        width: 100%;
        height: 6vh;
}
}

/* Responsive */
@media(min-width:1366px) and (max-width:1400px){
    .Terminos_adicionales{
        top: -1.5rem;
    }
    .terminos{
        top: -1.4rem;
    }
    .condiciones{
        top: -2rem;
    }
    .servicio-right{
        img{
            top: 4rem;
        }
        .service-form-container{
    .serviceForm{
        top: 22%;
        .service-form-submit{
            button{
                img{
                    width: 40%;
                    position: relative;
                    top: -4.5rem;
                }
            }
        }
    }
}
}
.foot-service{
    background: none;
    img{
        height: 8vh;
        top: 1rem;
        position: relative;
        transform: rotate(1deg);
    }
}
    
}
@media(width:1536px){
.servicio-right{
    img{
    top: 4rem;
}
.service-form-container{
    .serviceForm{
        top: 22%;
        .service-form-submit{
            button{
                img{
                    width: 50%;
                    position: relative;
                }
            }
        }
    }
}
}

.foot-service{
    img{
        height: 6vh;
        position: relative;
        top: 1rem;
    }
}
}
@media (min-width: 340px) and (max-width:428px) {
    .Terminos_adicionales{
        flex-wrap: nowrap;
    }

    .main-container-servicio {
        flex-direction: column;
        margin-top: 0;
        display: flex;
        height: 100%;
        position: relative;
    }
    .main-container-servicio {
        /* Lado izquierdo con la imagen de información */
        .servicio-left {
            width: 100vw;
            height: 40%;
            padding: 0;
    
            img {
                width: 100%;
                height: 100%;
                position: relative;
                top: 9rem;
            }
        }
    }
    .servicio-right{
        .service-form-container{
            top: -8rem;
        }
        img{
            top: 7rem;
        }
        .serviceForm{
            top: 26% !important;
            .service-form-submit{
                button{
                    img{
                        width: 60% !important;
                    }
                }
            }
        }
    }
    .servicio-left,
    .servicio-right {
        width: 100%;
        height: 115vh;
    }

    .form-container {
        padding-top: 120px;
    }
.foot-service{
    width: 100%;
    height: 100%;
    position: relative;
    top: -4rem;
    img{
        width: 100%;
        height: 7vh;
}
}
}
@media (min-width: 768px) and (max-width:834px){
    .main-container-servicio {
        flex-direction: column;
        margin-top: 0;
        height: 220vh;
    }
    .main-container-servicio {
        /* Lado izquierdo con la imagen de información */
        .servicio-left {
            width: 100vw;
            height: 40%;
            padding: 0;
    
            img {
                width: 100%;
                height: 100%;
                position: relative;
                top: 7rem;
            }
        }
    }
    .servicio-right{
        img{
            top: -5rem;
        }
        .service-form-container{
            .serviceForm{
                top: 11%;
                .service-form-submit{
                    button{
                        img{
                            width: 52%;
                        }
                    }
                }
            }
        }
    }
    .servicio-left,
    .servicio-right {
        width: 100%;
    }

    .form-container {
        padding-top: 120px;
    }
}
@media(width:834px) {
  
    .servicio-right{
        .service-form-container{
            .serviceForm{
                top: 15%;
                .service-form-submit{
                    button{
                        img{
                            width:80%;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:820px)and (max-width:834px){
    .servicio-right{
        img{
            top: -5rem;
        }
        .service-form-container{
            .serviceForm{
                top: 15%;
                .service-form-submit{
                    width: 70%;
                    translate: 100px;
                }
            }
        }
    }
}
@media(width:800px){
.main-container-servicio{
    height: 200vh;
}
}
@media(min-width:834px) and (max-width:840px){
    .servicio-right{
        .service-form-container{
            .serviceForm{
                top: 12% ;
            }
        }
    }
}